<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>nouvelle inscription</title>
    <link rel="stylesheet" href="/styles.css">
	<script src="script.js" defer></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/membres">Nos Membres</a></li>
            <li><a href="/activites">Nos Activités</a></li>
            <li><a href="/inscriptions">Gestion des Inscriptions</a></li>
            <li><a href="/paiements">Gestion des Paiements</a></li>
            <li><a href="/salles">Salles Disponibles</a></li>
            <li><a href="/reservations">Gestion de Réservations</a></li>
            <li><a href="/logout">Se Déconnecter</a></li>
        </ul>
    </nav>
    
    <section class="introduction">
		<br>
        <h1>Ajouter une nouvelle inscription</h1>
    </section>
    
    <div class="container mt-5">
        <!-- Formulaire d'ajout d'activité -->
        <form th:action="@{/inscriptions/save}" th:object="${inscription}" method="post">
            <div class="mb-3">
                <label for="membre">Membre</label><br>
				<select id="membre" th:field="*{membre}" required>
					<option value="" disabled selected>Sélectionner un membre</option>
					<option th:each="membre : ${membres}" 
						    th:value="${membre.idmem}"  
							th:text="${membre.nom} + ' ' + ${membre.prenom}">
					</option>
				</select>
				<div th:if="${#fields.hasErrors('membre')}" th:errors="*{membre}"></div>
            </div>
            
			<div class="mb-3">
				<label for="activite">Activité</label><br>
				<select id="activite" th:field="*{activite}" required>
					<option value="" disabled selected>Sélectionner une activité</option>
					<option th:each="activite : ${activites}" 
							th:value="${activite.idact}"  
							th:text="${activite.nom}">
					</option>
				</select>
				<div th:if="${#fields.hasErrors('activite')}" th:errors="*{activite}"></div>
			</div>
            
            <div class="mb-3">
                <label for="dateInscription">Date de l'inscription</label><br>
                <input type="date" id="dateInscription" th:field="*{dateInscription}" required/>
            </div>
			<div th:if="${#fields.hasErrors('dateInscription')}" th:errors="*{dateInscription}"></div>
            
            <div class="mb-4">
                <button type="submit">Enregistrer</button>
            </div>
        </form>
    </div>
    
    <!-- Footer -->
    <footer>
        <p>&copy; 2024 ChampionSpark - Tous droits réservés</p>
    </footer>
</body>
</html>
